.header {
  height: 56px;
}

.navbar-container {
  margin-top: auto;
  margin-bottom: auto;
}

.logo {
  height: 32px;
}

.btn-nav {
  border-radius: 0.2rem;
  padding: 5px;
  color: white;
  font-size: 0.875rem;
  font-weight: 500;
}

.btn-search-category {
  background-color: transparent;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.btn-search-category:hover {
  background-color: #f0f0f0;
}

.btn-search {
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .logo {
    order: -1;
  }

  .btn-nav {
    height: 32px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .search-bar > .form-control,
  .search-bar > .form-select,
  .search-bar > .input-group-text,
  .search-bar > .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
  }
}
