.img-shadow{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 100%);
}

.carousel-img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}

.vertical.carousel-item-next:not(.carousel-item-start),
.vertical.active.carousel-item-end {
  transform: translateY(33%) !important;
}

.vertical.carousel-item-prev:not(.carousel-item-end),
.vertical.active.carousel-item-start {
  transform: translateY(-33%) !important;
}